@charset "UTF-8";

/*!
 * WebSEO.kz
 * https://icomoon.io/app/
 * Там выбираем и добавляем себе только необходимые иконки
 * саму иконку копируем в папку /fonts/icons-svg
 * удаляем из кода иконки width и height, а добавляем вместо этого style="width:100%;height:100%;"
 * удаляем из кода иконки теги <title></title> и <g id="icomoon-ignore"></g>
 * добавляем в код иконки в тег <path стиль fill="#dcdcdc" с нужным цветом
 * кодируем иконку через https://yoksel.github.io/url-encoder/
 * свавляем код Ready for CSS: background-image в этот файл стилей
 * скомпилировать всё PROD
*/

.iwsvg {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.iwsvg:before {
  /*content: "\00a0 ";*/
  content: '';
  padding-right: 1em;
}

.iwsvg.mbnav-wa {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M246.25 243.5c4.25 0 45 21.25 46.75 24.25 0.5 1.25 0.5 2.75 0.5 3.75 0 6.25-2 13.25-4.25 19-5.75 14-29 23-43.25 23-12 0-36.75-10.5-47.5-15.5-35.75-16.25-58-44-79.5-75.75-9.5-14-18-31.25-17.75-48.5v-2c0.5-16.5 6.5-28.25 18.5-39.5 3.75-3.5 7.75-5.5 13-5.5 3 0 6 0.75 9.25 0.75 6.75 0 8 2 10.5 8.5 1.75 4.25 14.5 38.25 14.5 40.75 0 9.5-17.25 20.25-17.25 26 0 1.25 0.5 2.5 1.25 3.75 5.5 11.75 16 25.25 25.5 34.25 11.5 11 23.75 18.25 37.75 25.25 1.75 1 3.5 1.75 5.5 1.75 7.5 0 20-24.25 26.5-24.25zM195.5 376c86.5 0 157-70.5 157-157s-70.5-157-157-157-157 70.5-157 157c0 33 10.5 65.25 30 92l-19.75 58.25 60.5-19.25c25.5 16.75 55.75 26 86.25 26zM195.5 30.5c104 0 188.5 84.5 188.5 188.5s-84.5 188.5-188.5 188.5c-31.75 0-63.25-8-91.25-23.5l-104.25 33.5 34-101.25c-17.75-29.25-27-63-27-97.25 0-104 84.5-188.5 188.5-188.5z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-wa:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2325d366' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M246.25 243.5c4.25 0 45 21.25 46.75 24.25 0.5 1.25 0.5 2.75 0.5 3.75 0 6.25-2 13.25-4.25 19-5.75 14-29 23-43.25 23-12 0-36.75-10.5-47.5-15.5-35.75-16.25-58-44-79.5-75.75-9.5-14-18-31.25-17.75-48.5v-2c0.5-16.5 6.5-28.25 18.5-39.5 3.75-3.5 7.75-5.5 13-5.5 3 0 6 0.75 9.25 0.75 6.75 0 8 2 10.5 8.5 1.75 4.25 14.5 38.25 14.5 40.75 0 9.5-17.25 20.25-17.25 26 0 1.25 0.5 2.5 1.25 3.75 5.5 11.75 16 25.25 25.5 34.25 11.5 11 23.75 18.25 37.75 25.25 1.75 1 3.5 1.75 5.5 1.75 7.5 0 20-24.25 26.5-24.25zM195.5 376c86.5 0 157-70.5 157-157s-70.5-157-157-157-157 70.5-157 157c0 33 10.5 65.25 30 92l-19.75 58.25 60.5-19.25c25.5 16.75 55.75 26 86.25 26zM195.5 30.5c104 0 188.5 84.5 188.5 188.5s-84.5 188.5-188.5 188.5c-31.75 0-63.25-8-91.25-23.5l-104.25 33.5 34-101.25c-17.75-29.25-27-63-27-97.25 0-104 84.5-188.5 188.5-188.5z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-tg {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M297.25 326.75l36.75-173.25c3.25-15.25-5.5-21.25-15.5-17.5l-216 83.25c-14.75 5.75-14.5 14-2.5 17.75l55.25 17.25 128.25-80.75c6-4 11.5-1.75 7 2.25l-103.75 93.75-4 57c5.75 0 8.25-2.5 11.25-5.5l27-26 56 41.25c10.25 5.75 17.5 2.75 20.25-9.5zM448 224c0 123.75-100.25 224-224 224s-224-100.25-224-224 100.25-224 224-224 224 100.25 224 224z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-tg:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%230088cc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M297.25 326.75l36.75-173.25c3.25-15.25-5.5-21.25-15.5-17.5l-216 83.25c-14.75 5.75-14.5 14-2.5 17.75l55.25 17.25 128.25-80.75c6-4 11.5-1.75 7 2.25l-103.75 93.75-4 57c5.75 0 8.25-2.5 11.25-5.5l27-26 56 41.25c10.25 5.75 17.5 2.75 20.25-9.5zM448 224c0 123.75-100.25 224-224 224s-224-100.25-224-224 100.25-224 224-224 224 100.25 224 224z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-fbmg {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M0 496.64c0-285.44 223.573-496.64 512-496.64s512 211.2 512 496.64-223.573 496.64-512 496.64c-51.627 0-101.547-6.827-148.053-19.627-3.193-0.894-6.86-1.408-10.647-1.408-6.032 0-11.76 1.304-16.917 3.646l0.257-0.104-101.973 44.8c-4.899 2.236-10.625 3.54-16.656 3.54-22.216 0-40.301-17.686-40.942-39.747l-0.001-0.059-2.987-91.307c-0.5-11.541-5.653-21.787-13.617-28.981l-0.036-0.032c-98.714-89.298-160.47-217.866-160.47-360.857 0-2.286 0.016-4.569 0.047-6.848l-0.004 0.345zM354.987 403.2l-150.187 238.933c-14.933 22.613 13.653 48.64 34.987 32l161.707-122.453c11.093-8.533 25.6-8.533 37.12 0l119.467 89.6c35.84 26.88 87.040 17.067 110.933-20.48l150.187-238.933c14.933-22.613-13.653-48.213-34.987-32l-161.707 122.453c-10.667 8.533-25.6 8.533-36.693 0l-119.467-89.6c-12.716-9.688-28.823-15.521-46.293-15.521-27.292 0-51.26 14.236-64.881 35.688l-0.186 0.313z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-fbmg:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%233b5998' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M0 496.64c0-285.44 223.573-496.64 512-496.64s512 211.2 512 496.64-223.573 496.64-512 496.64c-51.627 0-101.547-6.827-148.053-19.627-3.193-0.894-6.86-1.408-10.647-1.408-6.032 0-11.76 1.304-16.917 3.646l0.257-0.104-101.973 44.8c-4.899 2.236-10.625 3.54-16.656 3.54-22.216 0-40.301-17.686-40.942-39.747l-0.001-0.059-2.987-91.307c-0.5-11.541-5.653-21.787-13.617-28.981l-0.036-0.032c-98.714-89.298-160.47-217.866-160.47-360.857 0-2.286 0.016-4.569 0.047-6.848l-0.004 0.345zM354.987 403.2l-150.187 238.933c-14.933 22.613 13.653 48.64 34.987 32l161.707-122.453c11.093-8.533 25.6-8.533 37.12 0l119.467 89.6c35.84 26.88 87.040 17.067 110.933-20.48l150.187-238.933c14.933-22.613-13.653-48.213-34.987-32l-161.707 122.453c-10.667 8.533-25.6 8.533-36.693 0l-119.467-89.6c-12.716-9.688-28.823-15.521-46.293-15.521-27.292 0-51.26 14.236-64.881 35.688l-0.186 0.313z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-mail {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M416 376v-192c-5.25 6-11 11.5-17.25 16.5-35.75 27.5-71.75 55.5-106.5 84.5-18.75 15.75-42 35-68 35h-0.5c-26 0-49.25-19.25-68-35-34.75-29-70.75-57-106.5-84.5-6.25-5-12-10.5-17.25-16.5v192c0 4.25 3.75 8 8 8h368c4.25 0 8-3.75 8-8zM416 113.25c0-6.25 1.5-17.25-8-17.25h-368c-4.25 0-8 3.75-8 8 0 28.5 14.25 53.25 36.75 71 33.5 26.25 67 52.75 100.25 79.25 13.25 10.75 37.25 33.75 54.75 33.75h0.5c17.5 0 41.5-23 54.75-33.75 33.25-26.5 66.75-53 100.25-79.25 16.25-12.75 36.75-40.5 36.75-61.75zM448 104v272c0 22-18 40-40 40h-368c-22 0-40-18-40-40v-272c0-22 18-40 40-40h368c22 0 40 18 40 40z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.mbnav-mail:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M416 376v-192c-5.25 6-11 11.5-17.25 16.5-35.75 27.5-71.75 55.5-106.5 84.5-18.75 15.75-42 35-68 35h-0.5c-26 0-49.25-19.25-68-35-34.75-29-70.75-57-106.5-84.5-6.25-5-12-10.5-17.25-16.5v192c0 4.25 3.75 8 8 8h368c4.25 0 8-3.75 8-8zM416 113.25c0-6.25 1.5-17.25-8-17.25h-368c-4.25 0-8 3.75-8 8 0 28.5 14.25 53.25 36.75 71 33.5 26.25 67 52.75 100.25 79.25 13.25 10.75 37.25 33.75 54.75 33.75h0.5c17.5 0 41.5-23 54.75-33.75 33.25-26.5 66.75-53 100.25-79.25 16.25-12.75 36.75-40.5 36.75-61.75zM448 104v272c0 22-18 40-40 40h-368c-22 0-40-18-40-40v-272c0-22 18-40 40-40h368c22 0 40 18 40 40z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-insta {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M256 224c0-35.25-28.75-64-64-64s-64 28.75-64 64 28.75 64 64 64 64-28.75 64-64zM290.5 224c0 54.5-44 98.5-98.5 98.5s-98.5-44-98.5-98.5 44-98.5 98.5-98.5 98.5 44 98.5 98.5zM317.5 121.5c0 12.75-10.25 23-23 23s-23-10.25-23-23 10.25-23 23-23 23 10.25 23 23zM192 66.5c-28 0-88-2.25-113.25 7.75-8.75 3.5-15.25 7.75-22 14.5s-11 13.25-14.5 22c-10 25.25-7.75 85.25-7.75 113.25s-2.25 88 7.75 113.25c3.5 8.75 7.75 15.25 14.5 22s13.25 11 22 14.5c25.25 10 85.25 7.75 113.25 7.75s88 2.25 113.25-7.75c8.75-3.5 15.25-7.75 22-14.5s11-13.25 14.5-22c10-25.25 7.75-85.25 7.75-113.25s2.25-88-7.75-113.25c-3.5-8.75-7.75-15.25-14.5-22s-13.25-11-22-14.5c-25.25-10-85.25-7.75-113.25-7.75zM384 224c0 26.5 0.25 52.75-1.25 79.25-1.5 30.75-8.5 58-31 80.5s-49.75 29.5-80.5 31c-26.5 1.5-52.75 1.25-79.25 1.25s-52.75 0.25-79.25-1.25c-30.75-1.5-58-8.5-80.5-31s-29.5-49.75-31-80.5c-1.5-26.5-1.25-52.75-1.25-79.25s-0.25-52.75 1.25-79.25c1.5-30.75 8.5-58 31-80.5s49.75-29.5 80.5-31c26.5-1.5 52.75-1.25 79.25-1.25s52.75-0.25 79.25 1.25c30.75 1.5 58 8.5 80.5 31s29.5 49.75 31 80.5c1.5 26.5 1.25 52.75 1.25 79.25z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-insta:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23517fa4' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M256 224c0-35.25-28.75-64-64-64s-64 28.75-64 64 28.75 64 64 64 64-28.75 64-64zM290.5 224c0 54.5-44 98.5-98.5 98.5s-98.5-44-98.5-98.5 44-98.5 98.5-98.5 98.5 44 98.5 98.5zM317.5 121.5c0 12.75-10.25 23-23 23s-23-10.25-23-23 10.25-23 23-23 23 10.25 23 23zM192 66.5c-28 0-88-2.25-113.25 7.75-8.75 3.5-15.25 7.75-22 14.5s-11 13.25-14.5 22c-10 25.25-7.75 85.25-7.75 113.25s-2.25 88 7.75 113.25c3.5 8.75 7.75 15.25 14.5 22s13.25 11 22 14.5c25.25 10 85.25 7.75 113.25 7.75s88 2.25 113.25-7.75c8.75-3.5 15.25-7.75 22-14.5s11-13.25 14.5-22c10-25.25 7.75-85.25 7.75-113.25s2.25-88-7.75-113.25c-3.5-8.75-7.75-15.25-14.5-22s-13.25-11-22-14.5c-25.25-10-85.25-7.75-113.25-7.75zM384 224c0 26.5 0.25 52.75-1.25 79.25-1.5 30.75-8.5 58-31 80.5s-49.75 29.5-80.5 31c-26.5 1.5-52.75 1.25-79.25 1.25s-52.75 0.25-79.25-1.25c-30.75-1.5-58-8.5-80.5-31s-29.5-49.75-31-80.5c-1.5-26.5-1.25-52.75-1.25-79.25s-0.25-52.75 1.25-79.25c1.5-30.75 8.5-58 31-80.5s49.75-29.5 80.5-31c26.5-1.5 52.75-1.25 79.25-1.25s52.75-0.25 79.25 1.25c30.75 1.5 58 8.5 80.5 31s29.5 49.75 31 80.5c1.5 26.5 1.25 52.75 1.25 79.25z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-youtube {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M242.75 311v52.75c0 11.25-3.25 16.75-9.75 16.75-3.75 0-7.5-1.75-11.25-5.5v-75.25c3.75-3.75 7.5-5.5 11.25-5.5 6.5 0 9.75 5.75 9.75 16.75zM327.25 311.25v11.5h-22.5v-11.5c0-11.25 3.75-17 11.25-17s11.25 5.75 11.25 17zM85.75 256.75h26.75v-23.5h-78v23.5h26.25v142.25h25v-142.25zM157.75 399h22.25v-123.5h-22.25v94.5c-5 7-9.75 10.5-14.25 10.5-3 0-4.75-1.75-5.25-5.25-0.25-0.75-0.25-3.5-0.25-8.75v-91h-22.25v97.75c0 8.75 0.75 14.5 2 18.25 2 6.25 7.25 9.25 14.5 9.25 8 0 16.5-5 25.5-15.25v13.5zM265 362v-49.25c0-11.5-0.5-19.75-2.25-24.75-2.75-9.25-9-14-17.75-14-8.25 0-16 4.5-23.25 13.5v-54.25h-22.25v165.75h22.25v-12c7.5 9.25 15.25 13.75 23.25 13.75 8.75 0 15-4.75 17.75-13.75 1.75-5.25 2.25-13.5 2.25-25zM349.5 359.5v-3.25h-22.75c0 9-0.25 14-0.5 15.25-1.25 6-4.5 9-10 9-7.75 0-11.5-5.75-11.5-17.25v-21.75h44.75v-25.75c0-13.25-2.25-22.75-6.75-29-6.5-8.5-15.25-12.75-26.5-12.75-11.5 0-20.25 4.25-26.75 12.75-4.75 6.25-7 15.75-7 29v43.25c0 13.25 2.5 23 7.25 29 6.5 8.5 15.25 12.75 27 12.75s21-4.5 27-13.25c2.75-4 4.75-8.5 5.25-13.5 0.5-2.25 0.5-7.25 0.5-14.5zM197.5 131.25v-52.5c0-11.5-3.25-17.25-10.75-17.25-7.25 0-10.75 5.75-10.75 17.25v52.5c0 11.5 3.5 17.5 10.75 17.5 7.5 0 10.75-6 10.75-17.5zM377.25 319c0 28.75-0.25 59.5-6.5 87.5-4.75 19.75-20.75 34.25-40 36.25-46 5.25-92.5 5.25-138.75 5.25s-92.75 0-138.75-5.25c-19.25-2-35.5-16.5-40-36.25-6.5-28-6.5-58.75-6.5-87.5v0c0-29 0.25-59.5 6.5-87.5 4.75-19.75 20.75-34.25 40.25-36.5 45.75-5 92.25-5 138.5-5s92.75 0 138.75 5c19.25 2.25 35.5 16.75 40 36.5 6.5 28 6.5 58.5 6.5 87.5zM127.75 0h25.5l-30.25 99.75v67.75h-25v-67.75c-2.25-12.25-7.25-29.75-15.25-53-5.5-15.5-11-31.25-16.25-46.75h26.5l17.75 65.75zM220.25 83.25v43.75c0 13.25-2.25 23.25-7 29.5-6.25 8.5-15 12.75-26.5 12.75-11.25 0-20-4.25-26.25-12.75-4.75-6.5-7-16.25-7-29.5v-43.75c0-13.25 2.25-23 7-29.25 6.25-8.5 15-12.75 26.25-12.75 11.5 0 20.25 4.25 26.5 12.75 4.75 6.25 7 16 7 29.25zM304 42.75v124.75h-22.75v-13.75c-9 10.5-17.5 15.5-25.75 15.5-7.25 0-12.5-3-14.75-9.25-1.25-3.75-2-9.75-2-18.75v-98.5h22.75v91.75c0 5.25 0 8.25 0.25 8.75 0.5 3.5 2.25 5.5 5.25 5.5 4.5 0 9.25-3.5 14.25-10.75v-95.25h22.75z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-youtube:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23bb0000' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M242.75 311v52.75c0 11.25-3.25 16.75-9.75 16.75-3.75 0-7.5-1.75-11.25-5.5v-75.25c3.75-3.75 7.5-5.5 11.25-5.5 6.5 0 9.75 5.75 9.75 16.75zM327.25 311.25v11.5h-22.5v-11.5c0-11.25 3.75-17 11.25-17s11.25 5.75 11.25 17zM85.75 256.75h26.75v-23.5h-78v23.5h26.25v142.25h25v-142.25zM157.75 399h22.25v-123.5h-22.25v94.5c-5 7-9.75 10.5-14.25 10.5-3 0-4.75-1.75-5.25-5.25-0.25-0.75-0.25-3.5-0.25-8.75v-91h-22.25v97.75c0 8.75 0.75 14.5 2 18.25 2 6.25 7.25 9.25 14.5 9.25 8 0 16.5-5 25.5-15.25v13.5zM265 362v-49.25c0-11.5-0.5-19.75-2.25-24.75-2.75-9.25-9-14-17.75-14-8.25 0-16 4.5-23.25 13.5v-54.25h-22.25v165.75h22.25v-12c7.5 9.25 15.25 13.75 23.25 13.75 8.75 0 15-4.75 17.75-13.75 1.75-5.25 2.25-13.5 2.25-25zM349.5 359.5v-3.25h-22.75c0 9-0.25 14-0.5 15.25-1.25 6-4.5 9-10 9-7.75 0-11.5-5.75-11.5-17.25v-21.75h44.75v-25.75c0-13.25-2.25-22.75-6.75-29-6.5-8.5-15.25-12.75-26.5-12.75-11.5 0-20.25 4.25-26.75 12.75-4.75 6.25-7 15.75-7 29v43.25c0 13.25 2.5 23 7.25 29 6.5 8.5 15.25 12.75 27 12.75s21-4.5 27-13.25c2.75-4 4.75-8.5 5.25-13.5 0.5-2.25 0.5-7.25 0.5-14.5zM197.5 131.25v-52.5c0-11.5-3.25-17.25-10.75-17.25-7.25 0-10.75 5.75-10.75 17.25v52.5c0 11.5 3.5 17.5 10.75 17.5 7.5 0 10.75-6 10.75-17.5zM377.25 319c0 28.75-0.25 59.5-6.5 87.5-4.75 19.75-20.75 34.25-40 36.25-46 5.25-92.5 5.25-138.75 5.25s-92.75 0-138.75-5.25c-19.25-2-35.5-16.5-40-36.25-6.5-28-6.5-58.75-6.5-87.5v0c0-29 0.25-59.5 6.5-87.5 4.75-19.75 20.75-34.25 40.25-36.5 45.75-5 92.25-5 138.5-5s92.75 0 138.75 5c19.25 2.25 35.5 16.75 40 36.5 6.5 28 6.5 58.5 6.5 87.5zM127.75 0h25.5l-30.25 99.75v67.75h-25v-67.75c-2.25-12.25-7.25-29.75-15.25-53-5.5-15.5-11-31.25-16.25-46.75h26.5l17.75 65.75zM220.25 83.25v43.75c0 13.25-2.25 23.25-7 29.5-6.25 8.5-15 12.75-26.5 12.75-11.25 0-20-4.25-26.25-12.75-4.75-6.5-7-16.25-7-29.5v-43.75c0-13.25 2.25-23 7-29.25 6.25-8.5 15-12.75 26.25-12.75 11.5 0 20.25 4.25 26.5 12.75 4.75 6.25 7 16 7 29.25zM304 42.75v124.75h-22.75v-13.75c-9 10.5-17.5 15.5-25.75 15.5-7.25 0-12.5-3-14.75-9.25-1.25-3.75-2-9.75-2-18.75v-98.5h22.75v91.75c0 5.25 0 8.25 0.25 8.75 0.5 3.5 2.25 5.5 5.25 5.5 4.5 0 9.25-3.5 14.25-10.75v-95.25h22.75z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-vk {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490 448'%3E%3Cpath d='M479.25 130c3.75 10.25-8 34.25-37.5 73.5-48.5 64.5-53.75 58.5-13.75 95.75 38.5 35.75 46.5 53 47.75 55.25 0 0 16 28-17.75 28.25l-64 1c-13.75 2.75-32-9.75-32-9.75-24-16.5-46.5-59.25-64-53.75 0 0-18 5.75-17.5 44.25 0.25 8.25-3.75 12.75-3.75 12.75s-4.5 4.75-13.25 5.5h-28.75c-63.25 4-119-54.25-119-54.25s-61-63-114.5-188.75c-3.5-8.25 0.25-12.25 0.25-12.25s3.75-4.75 14.25-4.75l68.5-0.5c6.5 1 11 4.5 11 4.5s4 2.75 6 8c11.25 28 25.75 53.5 25.75 53.5 25 51.5 42 60.25 51.75 55 0 0 12.75-7.75 10-70-1-22.5-7.25-32.75-7.25-32.75-5.75-7.75-16.5-10-21.25-10.75-3.75-0.5 2.5-9.5 10.75-13.5 12.25-6 34-6.25 59.75-6 20.25 0.25 26 1.5 33.75 3.25 23.75 5.75 15.75 27.75 15.75 80.75 0 17-3.25 40.75 9 48.5 5.25 3.5 18.25 0.5 50.25-54 0 0 15-26 26.75-56.25 2-5.5 6.25-7.75 6.25-7.75s4-2.25 9.5-1.5l72-0.5c21.75-2.75 25.25 7.25 25.25 7.25z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-vk:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2345668e' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490 448'%3E%3Cpath d='M479.25 130c3.75 10.25-8 34.25-37.5 73.5-48.5 64.5-53.75 58.5-13.75 95.75 38.5 35.75 46.5 53 47.75 55.25 0 0 16 28-17.75 28.25l-64 1c-13.75 2.75-32-9.75-32-9.75-24-16.5-46.5-59.25-64-53.75 0 0-18 5.75-17.5 44.25 0.25 8.25-3.75 12.75-3.75 12.75s-4.5 4.75-13.25 5.5h-28.75c-63.25 4-119-54.25-119-54.25s-61-63-114.5-188.75c-3.5-8.25 0.25-12.25 0.25-12.25s3.75-4.75 14.25-4.75l68.5-0.5c6.5 1 11 4.5 11 4.5s4 2.75 6 8c11.25 28 25.75 53.5 25.75 53.5 25 51.5 42 60.25 51.75 55 0 0 12.75-7.75 10-70-1-22.5-7.25-32.75-7.25-32.75-5.75-7.75-16.5-10-21.25-10.75-3.75-0.5 2.5-9.5 10.75-13.5 12.25-6 34-6.25 59.75-6 20.25 0.25 26 1.5 33.75 3.25 23.75 5.75 15.75 27.75 15.75 80.75 0 17-3.25 40.75 9 48.5 5.25 3.5 18.25 0.5 50.25-54 0 0 15-26 26.75-56.25 2-5.5 6.25-7.75 6.25-7.75s4-2.25 9.5-1.5l72-0.5c21.75-2.75 25.25 7.25 25.25 7.25z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-fb {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M312 32c39.75 0 72 32.25 72 72v240c0 39.75-32.25 72-72 72h-47v-148.75h49.75l7.5-58h-57.25v-37c0-16.75 4.5-28 28.75-28l30.5-0.25v-51.75c-5.25-0.75-23.5-2.25-44.5-2.25-44.25 0-74.75 27-74.75 76.5v42.75h-50v58h50v148.75h-133c-39.75 0-72-32.25-72-72v-240c0-39.75 32.25-72 72-72h240z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-fb:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%233b5998' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M312 32c39.75 0 72 32.25 72 72v240c0 39.75-32.25 72-72 72h-47v-148.75h49.75l7.5-58h-57.25v-37c0-16.75 4.5-28 28.75-28l30.5-0.25v-51.75c-5.25-0.75-23.5-2.25-44.5-2.25-44.25 0-74.75 27-74.75 76.5v42.75h-50v58h50v148.75h-133c-39.75 0-72-32.25-72-72v-240c0-39.75 32.25-72 72-72h240z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-tg {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M297.25 326.75l36.75-173.25c3.25-15.25-5.5-21.25-15.5-17.5l-216 83.25c-14.75 5.75-14.5 14-2.5 17.75l55.25 17.25 128.25-80.75c6-4 11.5-1.75 7 2.25l-103.75 93.75-4 57c5.75 0 8.25-2.5 11.25-5.5l27-26 56 41.25c10.25 5.75 17.5 2.75 20.25-9.5zM448 224c0 123.75-100.25 224-224 224s-224-100.25-224-224 100.25-224 224-224 224 100.25 224 224z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-tg:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%230088cc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M297.25 326.75l36.75-173.25c3.25-15.25-5.5-21.25-15.5-17.5l-216 83.25c-14.75 5.75-14.5 14-2.5 17.75l55.25 17.25 128.25-80.75c6-4 11.5-1.75 7 2.25l-103.75 93.75-4 57c5.75 0 8.25-2.5 11.25-5.5l27-26 56 41.25c10.25 5.75 17.5 2.75 20.25-9.5zM448 224c0 123.75-100.25 224-224 224s-224-100.25-224-224 100.25-224 224-224 224 100.25 224 224z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-twit {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23dcdcdc' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416 448'%3E%3Cpath d='M405 102c-11 16-24.75 30.25-40.5 41.75 0.25 3.5 0.25 7 0.25 10.5 0 106.75-81.25 229.75-229.75 229.75-45.75 0-88.25-13.25-124-36.25 6.5 0.75 12.75 1 19.5 1 37.75 0 72.5-12.75 100.25-34.5-35.5-0.75-65.25-24-75.5-56 5 0.75 10 1.25 15.25 1.25 7.25 0 14.5-1 21.25-2.75-37-7.5-64.75-40-64.75-79.25v-1c10.75 6 23.25 9.75 36.5 10.25-21.75-14.5-36-39.25-36-67.25 0-15 4-28.75 11-40.75 39.75 49 99.5 81 166.5 84.5-1.25-6-2-12.25-2-18.5 0-44.5 36-80.75 80.75-80.75 23.25 0 44.25 9.75 59 25.5 18.25-3.5 35.75-10.25 51.25-19.5-6 18.75-18.75 34.5-35.5 44.5 16.25-1.75 32-6.25 46.5-12.5z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-twit:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2300aced' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 416 448'%3E%3Cpath d='M405 102c-11 16-24.75 30.25-40.5 41.75 0.25 3.5 0.25 7 0.25 10.5 0 106.75-81.25 229.75-229.75 229.75-45.75 0-88.25-13.25-124-36.25 6.5 0.75 12.75 1 19.5 1 37.75 0 72.5-12.75 100.25-34.5-35.5-0.75-65.25-24-75.5-56 5 0.75 10 1.25 15.25 1.25 7.25 0 14.5-1 21.25-2.75-37-7.5-64.75-40-64.75-79.25v-1c10.75 6 23.25 9.75 36.5 10.25-21.75-14.5-36-39.25-36-67.25 0-15 4-28.75 11-40.75 39.75 49 99.5 81 166.5 84.5-1.25-6-2-12.25-2-18.5 0-44.5 36-80.75 80.75-80.75 23.25 0 44.25 9.75 59 25.5 18.25-3.5 35.75-10.25 51.25-19.5-6 18.75-18.75 34.5-35.5 44.5 16.25-1.75 32-6.25 46.5-12.5z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-ttoc {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23333333' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M534.613 0.853c55.893-0.853 111.36-0.427 166.827-0.853 3.413 65.28 26.88 131.84 74.667 177.92 47.787 47.36 115.2 69.12 180.907 76.373v171.947c-61.44-2.133-123.307-14.933-179.2-41.387-24.32-11.093-46.933-25.173-69.12-39.68-0.427 124.587 0.427 249.173-0.853 373.333-3.413 59.733-23.040 119.040-57.6 168.107-55.893 81.92-152.747 135.253-252.16 136.96-61.013 3.413-122.027-13.227-174.080-43.947-86.187-50.773-146.773-143.787-155.733-243.627-0.853-21.333-1.28-42.667-0.427-63.573 7.68-81.067 47.787-158.72 110.080-211.627 70.827-61.44 169.813-90.88 262.4-73.387 0.853 63.147-1.707 126.293-1.707 189.44-42.24-13.653-91.733-9.813-128.853 15.787-26.88 17.493-47.36 44.373-58.027 74.667-8.96 21.76-6.4 45.653-5.973 68.693 10.24 69.973 77.653 128.853 149.333 122.453 47.787-0.427 93.44-28.16 118.187-68.693 8.107-14.080 17.067-28.587 17.493-45.227 4.267-76.373 2.56-152.32 2.987-228.693 0.427-171.947-0.427-343.467 0.853-514.987z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-ttoc:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M534.613 0.853c55.893-0.853 111.36-0.427 166.827-0.853 3.413 65.28 26.88 131.84 74.667 177.92 47.787 47.36 115.2 69.12 180.907 76.373v171.947c-61.44-2.133-123.307-14.933-179.2-41.387-24.32-11.093-46.933-25.173-69.12-39.68-0.427 124.587 0.427 249.173-0.853 373.333-3.413 59.733-23.040 119.040-57.6 168.107-55.893 81.92-152.747 135.253-252.16 136.96-61.013 3.413-122.027-13.227-174.080-43.947-86.187-50.773-146.773-143.787-155.733-243.627-0.853-21.333-1.28-42.667-0.427-63.573 7.68-81.067 47.787-158.72 110.080-211.627 70.827-61.44 169.813-90.88 262.4-73.387 0.853 63.147-1.707 126.293-1.707 189.44-42.24-13.653-91.733-9.813-128.853 15.787-26.88 17.493-47.36 44.373-58.027 74.667-8.96 21.76-6.4 45.653-5.973 68.693 10.24 69.973 77.653 128.853 149.333 122.453 47.787-0.427 93.44-28.16 118.187-68.693 8.107-14.080 17.067-28.587 17.493-45.227 4.267-76.373 2.56-152.32 2.987-228.693 0.427-171.947-0.427-343.467 0.853-514.987z'%3E%3C/path%3E%3C/svg%3E");
}

.breadcrumb li span.iwsvg.btn-next {
  color: #757575;
  font-size: 0.6rem;
  margin: 0 7px 0 10px;
  vertical-align: text-bottom;
}

.iwsvg.btn-next {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23888888' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 368 448'%3E%3Cpath d='M368 240c0 8.5-3.25 16.75-9.25 22.75L196 425.5c-6 5.75-14.25 9.25-22.75 9.25s-16.5-3.5-22.5-9.25L132 406.75c-6-6-9.5-14.25-9.5-22.75s3.5-16.75 9.5-22.75L205.25 288h-176C11.25 288 0 273 0 256v-32c0-17 11.25-32 29.25-32h176L132 118.5c-6-5.75-9.5-14-9.5-22.5s3.5-16.75 9.5-22.5l18.75-18.75c6-6 14-9.5 22.5-9.5s16.75 3.5 22.75 9.5L358.75 217.5c6 5.75 9.25 14 9.25 22.5z'%3E%3C/path%3E%3C/svg%3E");
}

.iwsvg.btn-success-arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 368 448'%3E%3Cpath d='M368 240c0 8.5-3.25 16.75-9.25 22.75L196 425.5c-6 5.75-14.25 9.25-22.75 9.25s-16.5-3.5-22.5-9.25L132 406.75c-6-6-9.5-14.25-9.5-22.75s3.5-16.75 9.5-22.75L205.25 288h-176C11.25 288 0 273 0 256v-32c0-17 11.25-32 29.25-32h176L132 118.5c-6-5.75-9.5-14-9.5-22.5s3.5-16.75 9.5-22.5l18.75-18.75c6-6 14-9.5 22.5-9.5s16.75 3.5 22.75 9.5L358.75 217.5c6 5.75 9.25 14 9.25 22.5z'%3E%3C/path%3E%3C/svg%3E");
  vertical-align: unset;
}

#likedis .iwsvg-thumbs-o-up,
#likedis .iwsvg-thumbs-o-down {
  margin: 0 15px;
  cursor: pointer;
  width: 40px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
}

#likedis .iwsvg-thumbs-o-up {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23212529' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M64 336c0-8.75-7.25-16-16-16s-16 7.25-16 16 7.25 16 16 16 16-7.25 16-16zM352 192c0-17-15.25-32-32-32h-88c0-29.25 24-50.5 24-80 0-29.25-5.75-48-40-48-16 16.25-7.75 54.5-32 80-7 7.25-13 15-19.25 22.75-11.25 14.5-41 57.25-60.75 57.25h-8v160h8c14 0 37 9 50.5 13.75 27.5 9.5 56 18.25 85.5 18.25h30.25c28.25 0 48-11.25 48-41.75 0-4.75-0.5-9.5-1.25-14 10.5-5.75 16.25-20 16.25-31.5 0-6-1.5-12-4.5-17.25 8.5-8 13.25-18 13.25-29.75 0-8-3.5-19.75-8.75-25.75 11.75-0.25 18.75-22.75 18.75-32zM384 191.75c0 14.5-4.25 28.75-12.25 40.75 1.5 5.5 2.25 11.5 2.25 17.25 0 12.5-3.25 25-9.5 36 0.5 3.5 0.75 7.25 0.75 10.75 0 16-5.25 32-15 44.5 0.5 47.25-31.75 75-78 75h-32.25c-35.5 0-68.5-10.5-101.5-22-7.25-2.5-27.5-10-34.5-10h-72c-17.75 0-32-14.25-32-32v-160c0-17.75 14.25-32 32-32h68.5c9.75-6.5 26.75-29 34.25-38.75 8.5-11 17.25-21.75 26.75-32 15-16 7-55.5 32-80 6-5.75 14-9.25 22.5-9.25 26 0 51 9.25 63.25 33.5 7.75 15.25 8.75 29.75 8.75 46.5 0 17.5-4.5 32.5-12 48h44c34.5 0 64 29.25 64 63.75z'%3E%3C/path%3E%3C/svg%3E");
}

#likedis .iwsvg-thumbs-o-up:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%2387b948' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M64 336c0-8.75-7.25-16-16-16s-16 7.25-16 16 7.25 16 16 16 16-7.25 16-16zM352 192c0-17-15.25-32-32-32h-88c0-29.25 24-50.5 24-80 0-29.25-5.75-48-40-48-16 16.25-7.75 54.5-32 80-7 7.25-13 15-19.25 22.75-11.25 14.5-41 57.25-60.75 57.25h-8v160h8c14 0 37 9 50.5 13.75 27.5 9.5 56 18.25 85.5 18.25h30.25c28.25 0 48-11.25 48-41.75 0-4.75-0.5-9.5-1.25-14 10.5-5.75 16.25-20 16.25-31.5 0-6-1.5-12-4.5-17.25 8.5-8 13.25-18 13.25-29.75 0-8-3.5-19.75-8.75-25.75 11.75-0.25 18.75-22.75 18.75-32zM384 191.75c0 14.5-4.25 28.75-12.25 40.75 1.5 5.5 2.25 11.5 2.25 17.25 0 12.5-3.25 25-9.5 36 0.5 3.5 0.75 7.25 0.75 10.75 0 16-5.25 32-15 44.5 0.5 47.25-31.75 75-78 75h-32.25c-35.5 0-68.5-10.5-101.5-22-7.25-2.5-27.5-10-34.5-10h-72c-17.75 0-32-14.25-32-32v-160c0-17.75 14.25-32 32-32h68.5c9.75-6.5 26.75-29 34.25-38.75 8.5-11 17.25-21.75 26.75-32 15-16 7-55.5 32-80 6-5.75 14-9.25 22.5-9.25 26 0 51 9.25 63.25 33.5 7.75 15.25 8.75 29.75 8.75 46.5 0 17.5-4.5 32.5-12 48h44c34.5 0 64 29.25 64 63.75z'%3E%3C/path%3E%3C/svg%3E");
}

#likedis .iwsvg-thumbs-o-down {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23212529' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M64 112c0-8.75-7.25-16-16-16s-16 7.25-16 16 7.25 16 16 16 16-7.25 16-16zM352 256c0-9.25-7-31.75-18.75-32 5.25-6 8.75-17.75 8.75-25.75 0-11.75-4.75-21.75-13.25-29.75 3-5.25 4.5-11.25 4.5-17.25 0-11.5-5.75-25.75-16.25-31.5 0.75-4.5 1.25-9.25 1.25-14 0-29.25-18.5-41.75-46.25-41.75h-32c-29.5 0-58 8.75-85.5 18.25-13.5 4.75-36.5 13.75-50.5 13.75h-8v160h8c19.75 0 49.5 42.75 60.75 57.25 6.25 7.75 12.25 15.5 19.25 22.75 24.25 25.5 16 63.75 32 80 34.25 0 40-18.75 40-48 0-29.5-24-50.75-24-80h88c16.75 0 32-15 32-32zM384 256.25c0 34.5-29.5 63.75-64 63.75h-44c7.5 15.5 12 30.5 12 48 0 16.5-1 31.5-8.75 46.5-12.25 24.25-37.25 33.5-63.25 33.5-8.5 0-16.5-3.5-22.5-9.25-25-24.5-17.25-64-32-80.25-9.5-10-18.25-20.75-26.75-31.75-7.5-9.75-24.5-32.25-34.25-38.75h-68.5c-17.75 0-32-14.25-32-32v-160c0-17.75 14.25-32 32-32h72c7 0 27.25-7.5 34.5-10 36-12.5 67.25-22 105.75-22h28c45.5 0 78.25 27 78 73.75v1.25c9.75 12.5 15 28.5 15 44.5 0 3.5-0.25 7.25-0.75 10.75 6.25 11 9.5 23.5 9.5 36 0 5.75-0.75 11.75-2.25 17.25 8 12 12.25 26.25 12.25 40.75z'%3E%3C/path%3E%3C/svg%3E");
}

#likedis .iwsvg-thumbs-o-down:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ff8900' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 448'%3E%3Cpath d='M64 112c0-8.75-7.25-16-16-16s-16 7.25-16 16 7.25 16 16 16 16-7.25 16-16zM352 256c0-9.25-7-31.75-18.75-32 5.25-6 8.75-17.75 8.75-25.75 0-11.75-4.75-21.75-13.25-29.75 3-5.25 4.5-11.25 4.5-17.25 0-11.5-5.75-25.75-16.25-31.5 0.75-4.5 1.25-9.25 1.25-14 0-29.25-18.5-41.75-46.25-41.75h-32c-29.5 0-58 8.75-85.5 18.25-13.5 4.75-36.5 13.75-50.5 13.75h-8v160h8c19.75 0 49.5 42.75 60.75 57.25 6.25 7.75 12.25 15.5 19.25 22.75 24.25 25.5 16 63.75 32 80 34.25 0 40-18.75 40-48 0-29.5-24-50.75-24-80h88c16.75 0 32-15 32-32zM384 256.25c0 34.5-29.5 63.75-64 63.75h-44c7.5 15.5 12 30.5 12 48 0 16.5-1 31.5-8.75 46.5-12.25 24.25-37.25 33.5-63.25 33.5-8.5 0-16.5-3.5-22.5-9.25-25-24.5-17.25-64-32-80.25-9.5-10-18.25-20.75-26.75-31.75-7.5-9.75-24.5-32.25-34.25-38.75h-68.5c-17.75 0-32-14.25-32-32v-160c0-17.75 14.25-32 32-32h72c7 0 27.25-7.5 34.5-10 36-12.5 67.25-22 105.75-22h28c45.5 0 78.25 27 78 73.75v1.25c9.75 12.5 15 28.5 15 44.5 0 3.5-0.25 7.25-0.75 10.75 6.25 11 9.5 23.5 9.5 36 0 5.75-0.75 11.75-2.25 17.25 8 12 12.25 26.25 12.25 40.75z'%3E%3C/path%3E%3C/svg%3E");
}

input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 988px;
  -webkit-text-size-adjust: 100%;
}

html.mobile,
html.mobile body,
html.tablet,
html.tablet body {
  width: auto;
  height: auto;
  min-width: auto;
}

.m-swap.tablet-version {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  overflow-y: scroll;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

a,
input {
  text-decoration: none;
  outline: none;
}

img {
  border: none;
}

input {
  font-family: Arial,Helvetica,sans-serif;
  letter-spacing: 0.5px;
}

select {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  padding: 0;
  margin: 0;
}

a,
a.color-text:hover {
  color: #457edb;
}

a.link:hover {
  text-decoration: underline;
}

textarea {
  resize: vertical;
}

/*!
 * Bootstrap v4.1.3
 * Был подключен полный node_modules/bootstrap/scss/bootstrap.scss а это только самое необходимое
 */

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
  letter-spacing: 0.5px;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f6f6f6;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

a > code {
  color: inherit;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

h1 {
  font-size: 26px;
  line-height: 30px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  color: #000;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  line-height: 23px;
  color: #000;
  font-weight: 400;
}

.centerwrap {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.gray {
  background-color: #f7f7f7;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
}

.v-align-m {
  vertical-align: middle;
}

.f-curcolor {
  fill: currentColor;
}

.w100p {
  width: 100%;
}

.mw100p {
  max-width: 100%;
  margin: 0 auto;
}

.lsn {
  list-style: none;
}

.dib {
  display: inline-block;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.bgWhite {
  background: white !important;
}

.bgDark {
  background: #505050;
  color: #ffffff;
}

.bgDark a {
  color: #b2d7ff;
}

.bgDark a:hover {
  color: #85c0ff;
}

.bgLightGray {
  background: #fafafa;
}

.all_page {
  /*min-height: 100%;*/
  height: auto !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

hr.gray {
  margin: 15px 0;
  height: 0;
  border: none;
  border-top: 1px solid #e8e8e8;
}

hr.darkgray {
  margin: 15px 0;
  height: 0;
  border: none;
  border-top: 1px solid #aaa;
}

.gray-btn-block {
  text-align: center;
}

.gray-btn-block > * {
  display: inline-block;
  width: 23.6%;
  background: #ebebeb;
  color: #8a8a8a;
  text-align: center;
  margin: 0 0.3%;
}

.gray-btn-block > *:hover,
.gray-btn-block > *.active {
  cursor: pointer;
  background: #f6f6f6;
}

.gray-btn-block > *:first-child {
  margin-left: 0;
}

.gray-btn-block > *:last-child {
  margin-right: 0;
}

.ml10 {
  margin-left: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px !important;
  line-height: 18px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
  line-height: 20px;
}

.fs18 {
  font-size: 18px;
  line-height: 25px;
}

.fs20 {
  font-size: 20px;
  line-height: 25px;
}

.fs22 {
  font-size: 22px;
  line-height: 28px;
}

.fs24 {
  font-size: 24px;
  line-height: 30px;
}

.fs26 {
  font-size: 26px;
  line-height: 32px;
}

.fs30 {
  font-size: 30px;
  line-height: 38px;
}

.fs34 {
  font-size: 34px;
  line-height: 42px;
}

.fs36 {
  font-size: 36px;
  line-height: 45px;
}

.fs46 {
  font-size: 46px;
  line-height: 55px;
}

.lh24 {
  line-height: 24px !important;
}

.lh30 {
  line-height: 30px !important;
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.f-normal {
  font-weight: 400;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.ta-justify {
  text-align: justify;
}

.italic {
  font-style: italic;
}

.border-gray {
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fullHeight {
  height: 100% !important;
}

.lh18 {
  line-height: 18px;
}

.lh22 {
  line-height: 22px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -ms-flex-align: center;
  align-items: center;
}

.flex.nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.fd-column-mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.fd-row-mobile {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex.fd-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex.fd-column-reverse-mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (min-width: 720px) {
  .flex.fd-column-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .flex.fd-row-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .flex.fd-column-reverse-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .flex.nowrap-desctop {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.flex.jc-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.flex.jc-start {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.flex.jc-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex.jc-space-between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.flex.ai-start {
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 720px) {
  .flex.ai-start-desctop {
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
}

.button.button-white,
a.button.button-white,
button.button.button-white {
  border: 1px solid #ebebeb;
  color: #000;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#f6f6f6));
  background: linear-gradient(180deg, #fff 0, #f6f6f6);
}

.button.button-gray,
a.button.button-gray,
button.button.button-gray {
  border: 1px solid #cacaca;
  color: #000;
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), to(#e8e8e8));
  background: linear-gradient(180deg, #f6f6f6 0, #e8e8e8);
}

.button.button-gray:hover,
a.button.button-gray:hover,
button.button.button-gray:hover,
.button.button-white:hover,
a.button.button-white:hover,
button.button.button-white:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5ca042), to(#87b948));
  background: linear-gradient(#5ca042, #87b948);
  text-transform: none;
  text-decoration: none;
}

.item-4-column {
  width: 180px;
  margin-right: 40px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  vertical-align: top;
  position: relative;
}

.item-3-column {
  width: 230px;
  margin-right: 70px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 30px;
  vertical-align: top;
}

.uslugi .usluga {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  float: none;
  background-color: #fff;
  border: 1px solid #DDD;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  padding: 0;
  overflow: hidden;
}

.uslugi .usluga.akciya767 {
  border: 1px solid #ff8888;
}

.uslugi .usluga.akciya767 .fontf-pnb {
  color: red;
}

.uslugi .usluga.uslula-3-column {
  width: 80%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #212529;
  text-decoration: none;
  max-height: none;
}

.uslugi .usluga.uslula-3-column .more-label {
  display: none;
}

@media only screen and (min-width: 500px) {
  .uslugi .usluga.uslula-3-column .h60-dfcc {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .uslugi .usluga.uslula-3-column .h72-oh {
    height: 72px;
    overflow: hidden;
  }

  .uslugi .usluga.uslula-3-column .more-label {
    display: block;
    position: relative;
    top: -36px;
    float: right;
    height: 0;
    overflow: visible;
  }

  .uslugi .usluga.uslula-3-column .more-label .more-inner-white {
    padding-top: 6px;
    background: #fff;
    background: linear-gradient(to right, transparent 0%, #ffffff 50px, #ffffff 100%);
    display: inline-block;
    vertical-align: top;
    padding-left: 55px;
  }

  .uslugi .usluga.uslula-3-column .more-label .more-inner-white .fox-express {
    padding: 0 5px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ff9c31;
    color: #ff9c31;
    -moz-border-radius: 3px;
    line-height: 19px;
    font-size: 9px;
    text-transform: uppercase;
    float: right;
    margin: 0;
    position: relative;
    z-index: 1;
  }
}

@media only screen and (min-width: 500px) and (max-width: 766px) {
  .uslugi .usluga.uslula-3-column {
    width: 45%;
    margin-right: 9%;
    margin-left: 0;
  }

  .uslugi .usluga.uslula-3-column:nth-child(2n),
  .uslugi .usluga.uslula-3-column:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 767px) {
  .uslugi .usluga.uslula-3-column {
    width: 30%;
    margin-right: 4%;
    margin-left: 0;
  }

  .uslugi .usluga.uslula-3-column:nth-child(3n),
  .uslugi .usluga.uslula-3-column:last-child {
    margin-right: 0;
  }

  .uslugi .usluga.uslula-3-column.akciya767 {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    color: #212529;
    text-decoration: none;
  }

  .uslugi .usluga.uslula-3-column.akciya767 img.w100p {
    width: 30%;
    float: right;
  }

  .uslugi .usluga.uslula-3-column.akciya767 .fontf-pnb {
    background-color: #ffdcb3;
    display: block;
    height: auto;
    padding: 10px 33% 10px 15px;
    margin: 0;
    width: 100%;
    color: #000;
  }

  .uslugi .usluga.uslula-3-column.akciya767 .padding-content {
    height: auto;
    padding: 10px 33% 10px 15px;
    margin: 0;
    width: 100%;
  }

  .uslugi .usluga.uslula-3-column.akciya767 .h72-oh {
    height: auto;
    line-height: 1.5;
    font-size: 1.2em !important;
  }

  .uslugi .usluga.uslula-3-column.akciya767 .h72-oh .srok {
    font-size: 14px;
    padding: 15px 0;
  }
}

.uslugi .usluga:hover {
  -webkit-box-shadow: 0 6px 26px -5px rgba(97, 61, 2, 0.3);
          box-shadow: 0 6px 26px -5px rgba(97, 61, 2, 0.3);
}

.uslugi .usluga .padding-content {
  padding: 0 15px;
}

.uslugi .usluga .cena-uslugi {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
}

.uslugi .usluga .cena-uslugi .price {
  font-size: 20px;
  color: #090;
  font-weight: bold;
}

.uslugi .usluga .cena-uslugi .price .old-price {
  font-weight: normal;
  color: #757575;
  font-size: 0.9em;
  text-decoration: line-through;
}

@media only screen and (max-width: 500px) {
  .uslugi.flex-3-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: 0 -10px;
    padding: 0 3%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .uslugi.flex-3-column::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  .uslugi.flex-3-column .usluga.uslula-3-column {
    width: 272px;
    margin: 10px 8px 30px;
    height: auto;
    color: #212529;
    text-decoration: none;
    max-height: none;
    min-width: 272px;
  }
}

@media only screen and (min-width: 370px) and (max-width: 500px) {
  .uslugi.flex-3-column {
    padding: 0 30px;
  }

  .uslugi.flex-3-column .usluga.uslula-3-column {
    width: 282px;
    margin: 10px 10px 30px;
    min-width: 76vw;
  }
}

.right-otstup,
.slider-nav {
  display: none;
}

@media only screen and (max-width: 500px) {
  .flex-3-column .right-otstup {
    display: block;
    width: 30px;
    min-width: 30px;
  }

  .slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-nav span {
    width: 15px;
    height: 15px;
    background-color: #b1b1b1;
    border: 2px solid #e2e2e2;
    margin: 15px;
    border-radius: 100%;
    cursor: pointer;
  }

  .slider-nav span.active {
    background-color: #87b948;
    border: 2px solid #7ead43;
  }
}

.item-2-column {
  width: 100%;
  max-width: 380px;
  margin-right: 70px;
  display: inline-block;
  padding-top: 30px;
  vertical-align: top;
}

.item-4-column:last-child,
.item-3-column:last-child,
.item-2-column:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 870px) {
  .item-2-column {
    margin-left: auto;
    margin-right: auto !important;
    display: block;
  }

  .item-4-column {
    width: 49%;
    text-align: center;
    margin: 0;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    min-width: 751px;
    height: auto !important;
    border-bottom: none;
  }

  .m-text-center {
    text-align: center;
  }

  html {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }

  body {
    background-color: #f0f0f0;
    min-height: 100%;
    height: auto;
    width: 100%;
  }

  body,
  html {
    min-width: 100%;
  }
}

@media only screen and (max-width: 565px) {
  .item-4-column {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 1231px) {
  .lg-centerwrap {
    max-width: 1240px !important;
    min-width: 1240px !important;
  }
}

@media (max-width: 1279px) {
  .is_index .centerwrap,
  .is_index .lg-centerwrap {
    padding-left: 10px;
    padding-right: 10px;
    min-width: initial !important;
    max-width: initial;
  }
}

@media (max-width: 1230px) {
  .is_index .centerwrap,
  .is_index .lg-centerwrap {
    max-width: 988px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1199px) {
  html,
  body,
  .is_index .centerwrap,
  .is_index .project-centerwrap {
    min-width: initial;
  }

  .is_index .footertop {
    width: initial;
  }
}

@media (max-width: 1017px) {
  .is_index .centerwrap,
  .is_index .lg-centerwrap {
    max-width: initial;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .header.is_index {
    min-width: initial;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    border-bottom: none !important;
  }
}

.c-red {
  color: #ff0000;
}

.c-orange {
  color: #e45900;
}

.c-primary {
  color: #ff8900;
}

.c-yellow {
  color: #ffe700;
}

.c-green {
  color: #090;
}

.c-lgrey {
  color: #dcdcdc;
}

.ajax-wscheck {
  display: inline-block;
  margin-right: 7px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' style='width:100%25;height:100%25;' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448'%3E%3Cpath d='M417.75 141.5c0 6.25-2.5 12.5-7 17l-215 215c-4.5 4.5-10.75 7-17 7s-12.5-2.5-17-7l-124.5-124.5c-4.5-4.5-7-10.75-7-17s2.5-12.5 7-17l34-34c4.5-4.5 10.75-7 17-7s12.5 2.5 17 7l73.5 73.75 164-164.25c4.5-4.5 10.75-7 17-7s12.5 2.5 17 7l34 34c4.5 4.5 7 10.75 7 17z'%3E%3C/path%3E%3C/svg%3E");
}

.ajax-wscheck:before {
  content: "";
  padding-right: 1em;
}

.bg-red {
  background-color: #ff0000;
}

.bg-orange {
  background-color: #e45900;
}

.bg-yellow {
  background-color: #ffe700;
}

.bg-green {
  background-color: #090;
}

.bg-lgrey {
  background-color: #dcdcdc;
}

#js-headertext .js-a-now,
#js-headertext .js-a-prev1,
#js-headertext .js-a-next1,
#js-headertext .js-a-prev2,
#js-headertext .js-a-next2,
#js-headertext .js-a-prev,
#js-headertext .js-a-next {
  text-align: center;
  font-weight: 500;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

#js-headertext .js-preloading {
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

#js-headertext .js-a-now {
  color: #dcdcdc;
  font-size: 30px;
  line-height: 38px;
  height: 38px;
  margin-top: 0;
  margin-bottom: 0;
}

#js-headertext .js-a-now .js-preloading {
  background-image: url(/images/loading.svg?87e4a8aaae3ee3b68a31ef33a39a25a5);
  height: 30px;
  width: 60px;
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
}

#js-headertext .js-a-now .fas {
  height: 30px;
  width: 60px;
  padding-right: 0;
}

#js-headertext .js-a-prev1,
#js-headertext .js-a-next1 {
  color: #a9a9a9;
  font-size: 26px;
  line-height: 28px;
  height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#js-headertext .js-a-prev1 .fas,
#js-headertext .js-a-next1 .fas {
  padding-right: 13px;
}

#js-headertext .js-a-prev2,
#js-headertext .js-a-next2 {
  color: #797979;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#js-headertext .js-a-prev2 .fas,
#js-headertext .js-a-next2 .fas {
  padding-right: 6px;
}

#js-headertext .js-a-prev,
#js-headertext .js-a-next {
  font-size: 0;
  line-height: 0;
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#js-headertext .js-a-next1 .js-preloading,
#js-headertext .js-a-next2 .js-preloading {
  display: none;
}

.hover-shadow-box:hover {
  -webkit-box-shadow: 0 6px 26px -5px rgba(97, 61, 2, 0.3);
  box-shadow: 0 6px 26px -5px rgba(97, 61, 2, 0.3);
  z-index: 2;
  cursor: pointer;
}

.hover-shadow-text:hover {
  text-shadow: 1px 1px 2px #c5c5c5, 0 0 1em #fff;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
}

.ws-nowrap {
  white-space: nowrap;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer {
  background: white;
  position: relative;
  min-height: 100px;
}

.footer .socialIcons a {
  color: #c5c5c5;
  width: 30px;
  height: 30px;
}

.footertop {
  padding: 25px 0 16px;
  position: relative;
}

.footer .centerwrap .bottomLinks {
  text-align: center;
}

.footer .centerwrap .bottomLinks .linksBlock {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.footer .centerwrap .bottomLinks .linksBlock a {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin: 2px;
  padding: 10px 7px;
  color: #000;
}

.footer .centerwrap .bottomLinks .linksBlock.soglashenie a {
  font-size: 11px;
}

@media screen and (min-width: 565px) {
  .footer .centerwrap .bottomLinks .linksBlock {
    width: 50%;
  }

  .footer .centerwrap .bottomLinks .linksBlock a {
    display: block;
  }

  .footer .centerwrap .bottomLinks .linksBlock.soglashenie a {
    font-size: 13px;
  }
}

@media screen and (min-width: 767px) {
  .footer .centerwrap .bottomLinks .linksBlock {
    width: 33%;
  }
}

.footer .centerwrap .bottomLinks .linksBlock .linksBlockTitle {
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}

.footer .centerwrap .bottomLinks .linksBlock .socialIcons a {
  font-size: 0;
  text-decoration: none;
  display: inline;
}

.footer .centerwrap .bottomLinks .linksBlock .socialIcons a:hover {
  text-decoration: none;
}

.footer .centerwrap .bottomLinks .linksBlock .socialIcons {
  margin: 20px 0;
}

.footer .centerwrap .bottomLinks .copyright {
  margin-top: 10px;
}

.footer .centerwrap .bottomLinks .webseo-logo {
  margin: 0 0 10px 0;
  padding: 0;
}

.footer .centerwrap .bottomLinks .webseo-logo .logo-footer {
  height: 28px;
  width: auto;
}

.socialIcons.page a {
  font-size: 0;
  text-decoration: none;
  color: #757575;
}

.socialIcons.page a:hover {
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px 2px #c5c5c5, 0 0 1em white;
}

.st0 {
  opacity: 0.5;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #dcdcdc;
  stroke-width: 4px;
  stroke-miterlimit: 100;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #dcdcdc;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #dcdcdc;
}

.st4 {
  fill: #dcdcdc;
}

.logo-footer:hover .st1 {
  stroke: #0070A3;
}

.logo-footer:hover .st2 {
  fill: #0070A3;
}

.logo-footer:hover .st3 {
  fill: #FF8900;
}

.logo-footer:hover .st4 {
  fill: #333333;
}

/* стили для LazyLoad */

img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */

@-moz-document url-prefix()  {
  img:-moz-loading {
    visibility: hidden;
  }
}

.is_index .centerwrap.contentblock {
  background-color: white;
  border: 1px solid #E4E4E4;
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: .034rem;
  padding: 25px 15px;
}

@media screen and (min-width: 565px) {
  .is_index .centerwrap.contentblock {
    padding: 30px 25px;
  }
}

@media screen and (min-width: 1019px) {
  .is_index .centerwrap.contentblock {
    margin: 35px auto;
    padding: 35px 50px;
  }
}

.is_index .centerwrap.contentblock ul {
  padding-left: 25px;
}

.is_index .centerwrap.contentblock pre {
  background: #f0fbff;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

/* Стили для адаптивного блока с iframe видео из YouTube */

.insert-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.insert-iframe iframe,
.insert-iframe object,
.insert-iframe embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.field-input {
  padding: 5px 15px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  color: #000;
  background-color: #fff;
  border: 1px solid #A5A5A5;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  width: 100%;
}

.zakaz-block {
  margin-bottom: 20px;
}

.zakaz-block-header {
  width: 100%;
  font-weight: 600;
  margin-bottom: 4px;
}

.zakaz-input-1row {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 760px;
}

.zakaz-input-1col,
.zakaz-input-2col50,
.zakaz-input-2col30,
.zakaz-input-2col70 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.zakaz-input-1col {
  width: 100%;
  max-width: 380px;
  padding: 0 5px;
}

.zakaz-input-2col30 {
  width: 30%;
  padding: 0 5px;
}

.zakaz-input-2col50 {
  width: 50%;
  padding: 0 5px;
}

.zakaz-input-2col70 {
  width: 70%;
  padding: 0 5px;
}

.pt25 {
  padding-top: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.video-container {
  position: relative;
  text-align: center;
  padding-top: 30px;
  height: 400;
  overflow: hidden;
}

